{{#if success_msg}}
<div class="text-center alert alert-primary" role="alert">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="text-center alert alert-primary" role="alert">{{error_msg}}</div>
{{/if}}