<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Restaurant List</title>
  </head>
  <body>
    <header>
      <!-- navigation -->
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="我的餐廳清單"
            />
            我的餐廳清單
          </a>
          <a
            class="btn btn-outline-secondary btn-sm"
            href="/restaurants/new"
            role="button"
          >新增餐廳</a>
          <form action="/logout" method="post">
          <button type="submit" class="btn btn-secondary btn-sm">登出</button>
        </form>
        </div>
      </nav>

      <div class="banner"></div>
    </header>
    {{{body}}}
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/530ac1acb9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>