{{> message}}
<div class="d-flex justify-content-center">
  <form action="/login" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">帳號:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">密碼:</label>
      <input type="password" class="form-control" id="password" name="password" required/>
    </div>
    <button type="submit" class="btn btn-primary">登入</button>
    <a href="/oauth/facebook" class="btn btn-primary">Facebook登入</a>
    <div class="mt-5">尚未註冊? <a href="/register">按此註冊</a></div>
  </form>
</div>
